{% extends 'squeaker/base.html' %}
{% block 'body' %}
{% load widget_tweaks %}

    <div class="container">

      <h1>House Price</h1>
      <form action="{% url 'houseprice' %}" method="get">
          {% csrf_token %}
          {% for field in houseform %}
        <div class="form-group {%if field.errors %}alert alert-danger{%endif%}">


            {{ field.errors }}
            {{ field.label_tag }}
            {% render_field field class="form-control" %}


        </div>
        {% endfor %}

          <input type="submit" value="House Price">
      </form>



    </div>
{% endblock %}
